<%# _ means partial that is used to resuse componenets. %>

<%= token_tag %>
<div class="col-6" style="margin: 0 auto;">
<form method="POST" action="/updateForm">
  <input type="hidden" name="id" value="<%= @id %>">

<div class="mb-3">
  <label for="titleid" class="form-label">Title</label>
  <input name= "title" type="text" class="form-control" id="titleid" value="<%= @title %>">
</div>

<div class="mb-3">
  <label for="descid" class="form-label">Description</label>
  <input name= "description" type="text" class="form-control" id="descid" value="<%= @description %>">
</div>


<div class="mb-3">
<input type="submit" class="btn btn-primary" value="Update" style="display: block; margin: 0 auto;"/>
</div>
</div>
</form>
</div>
